html, body {
	height: 100%;
	width: 100% !important;
	margin: 0;
	padding: 0;
	font-family: Abel;
	font-size: 24px;
	font-weight: 200;
}
.clear {
  clear:both;
}
#info_screen {
	z-index: 450;
	top:0px;
  left:0px;
	position: fixed;
	width: 100%;
	height: 100% !important;
	text-align: center;
	line-height: 15px;
	background-color: #262626;
	opacity: 0.5;
	cursor: pointer;
}
#info_box {
	z-index: 500;
	position: relative;
	top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -200px;
	width: 400px;
	height: 200px;
	background-color: #FFFFFF;
	text-align: center;
	border-radius: 25px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}
#info_box_wrapper {
	position: relative;
	display: block;
	top: 30%;
  /*left: 10%;*/
	width: 80%;
	height: 80%;
	margin: 0 auto;
	text-align: center;
}
#info_box_text {
	position: relative;
	color: #262626;
	font-family: Open Sans Condensed;
	font-size: 30px;
	text-align: center;
}
#header {
	display: block;
	position: relative;
	width: 100%;
	color: #262626;
	font-family: Open Sans Condensed;
	font-size: 50px;
	text-align: center;
	margin-top: 20px;
}
#sub_header {
	display: block;
	position: relative;
	width: 100%;
	color: #262626;
	font-family: Open Sans Condensed;
	font-size: 18px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 50px;
}
#footer_final {
    display: block;
    position: relative;
    width: 100%;
    color: #262626;
    font-family: Open Sans Condensed;
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
}
#github_link {
	cursor: pointer;
}
#button {
	position: relative;
	top: 50px;
	left: 50px;
	/*height: 100px;
	width: 200px;*/
	background-color: #CCDDCC;
	text-align: center;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
	cursor: pointer;
}
#chartPrices {
	position: absolute;
}
