html, body {
	height: 100%;
	width: 100% !important;
	margin: 0;
	padding: 0;
	font-family: Abel;
	font-size: 24px;
	font-weight: 200;
	/*background-image: url("CrudeCL.png");
	background-size: contain;
	background-repeat: no-repeat;*/
}
.clear {
  clear:both;
}
#GH_banner {
	z-index: 9050;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}
#barrel {
	position: absolute;
	top: 0;
	left: 0;
	height: 100px;
	width: 100px;
	opacity: 0;
	background-image: url("CrudeCL.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right top;
}
#info_screen {
	z-index: 450;
	top:0px;
  left:0px;
	position: fixed;
	width: 100%;
	height: 100% !important;
	text-align: center
	line-height: 15px;
	background-color: #262626;
	opacity: 0.5;
	cursor: pointer;
}
#info_box {
	z-index: 500;
	position: absolute;
	top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -250px;
	width: 500px;
	height: 250px;
	background-color: #FFFFFF;
	text-align: center;
	border-radius: 25px;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
}
#info_box_wrapper {
	position: relative;
	display: block;
	top: 30%;
  /*left: 10%;*/
	width: 80%;
	height: 80%;
	margin: 0 auto;
	text-align: center;
}
#info_box_text {
	position: relative;
	top: -35px;
	color: #262626;
	font-family: Open Sans Condensed;
	font-size: 30px;
	text-align: center;
}
#header_container {
	display: block;
	position: relative;
	width: 100%;
	height: 100px;
	/*background-color: #CC00FF;*/
}
.header_box_outside {
	display: block;
	float: left;
	width: 35%;
	height: 100px;
	margin-top: 20px;
	/*background-color: #CCFF00;*/
}
.header_box_middle {
	display: block;
	float: left;
	width: 30%;
	height: 100px;
	margin-top: 20px;
	/*background-color: #CCFF00;*/
}
#header_image {
	/*display: block;
	position: relative;
	left: 20%;
	width: 100px;
	height: 150px;*/
	/*background-color: #000;
	background-image: url("CrudeCL.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right top;*/
	/*transform: rotate(15deg);*/
}
#header {
	color: #262626;
	font-family: Open Sans Condensed;
	font-size: 50px;
	text-align: center;
}
#sub_header {
	display: block;
	position: relative;
	width: 100%;
	color: #262626;
	font-family: Open Sans Condensed;
	font-size: 18px;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 50px;
}
#chartCrude {
	background-color: #FFF;
}

#selection_title_container {
	display: block;
	position: relative;
	left: 50%;
	width: 670px;
	height: 100px;
	margin-left: -335px;
	background-color: #FFF;
}
#selection_title_text {
	display: block;
	position: relative;
	top: 50px;
	width: 100%;
	color: #262626;
	font-family: Open Sans Condensed;
	font-size: 20px;
	text-align: center;
	margin-bottom: 50px;
}
.selection_title_box {
	display: block;
	float: left;
	width: 100px;
	height: 100px;
	margin-left: 10px;
	background-color: #FFF;
}
.selection_title_box_text {
	display: block;
	position: absolute;
	top: 50px;
	width: 100px;
	height: 25px;
	background-color: #FFF;
	color: #262626;
	font-family: Open Sans Condensed;
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
}

.selection_container {
	display: block;
	position: relative;
	left: 50%;
	width: 890px;
	height: 120px;
	margin-left: -545px;
	background-color: #FFF;
}
.selection_box {
	display: block;
	float: left;
	width: 100px;
	height: 100px;
	margin-top: 10px;
	margin-left: 10px;
	background-color: #FFF;
}
.arrow_up {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #00CC66;
	opacity: 0.5;
	margin-left: 30px;
	margin-top: 5px;
	cursor: pointer;
}
.arrow_down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #bf4040;
	opacity: 0.5;
	margin-left: 30px;
	margin-top: 50px;
	cursor: pointer;
}
.selection_box_text {
	display: block;
	position: absolute;
	top: 47px;
	width: 100px;
	height: 25px;
	background-color: #FFF;
	color: #262626;
	font-family: Open Sans Condensed;
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
}
.selection_box-title {
	display: block;
	float: left;
	width: 200px;
	height: 100px;
	margin-top: 10px;
	margin-left: 10px;
	background-color: #FFF;
}
.selection_box_text-title {
	display: block;
	position: absolute;
	top: 35px;
	width: 200px;
	height: 50px;
	background-color: #FFF;
	color: #262626;
	font-family: Open Sans Condensed;
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
}

#footer_final {
    display: block;
    position: relative;
    width: 100%;
    color: #262626;
    font-family: Open Sans Condensed;
    font-size: 16px;
    text-align: center;
    margin-top: 100px;
}
#github_link {
	cursor: pointer;
}
#button {
	position: relative;
	top: 50px;
	left: 50px;
	/*height: 100px;
	width: 200px;*/
	background-color: #CCDDCC;
	text-align: center;
	-webkit-box-shadow: 2px 2px 4px #888;
	-moz-box-shadow: 2px 2px 4px #888;
	box-shadow: 2px 2px 4px #888;
	cursor: pointer;
}
#chartPrices {
	position: absolute;
}
